{% extends 'base.html' %}
{% block content %}
{% if recent_posts %}
    <ul>
    {% for item in recent_posts %}
        <li>
			<h2><a href="/post/{{ item.slug }}/">{{ item.title }}</a></h2>
			<p>{{ item.body|safe }}</p>
			{% if perms.blogengine.change_post %}
			<div class="controls">
			    <a href="{{ SITE_ROOT }}post/edit/{{ item.slug }}">edit post</a>
			    <a href="{{ SITE_ROOT }}post/delete/{{ item.slug }}">delete post</a>
			</div>
			{% endif %}
		</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No recent posts available.</p>
{% endif %}
{% endblock %}