{% extends 'base.html' %}
{% block content %}
{% if recent_posts %}
    
    {% for item in recent_posts %}
        <div class="post">
			<h2><a href="/post/view/{{ item.slug }}/">{{ item.title }}</a></h2>
			<span class="byline">Posted: {{ item.pub_date|date:"d/m/Y" }}</span>
			<p>{{ item.body|safe }}</p>
			{% if perms.blogengine.change_post %}
			<div class="controls">
			    <a href="{{ SITE_ROOT }}post/edit/{{ item.slug }}">edit post</a>
			    <a href="{{ SITE_ROOT }}post/delete/{{ item.slug }}">delete post</a>
			</div>
			{% endif %}
		</div>
    {% endfor %}

    
{% else %}
    <p>No recent posts available.</p>
{% endif %}
{% if perms.blogengine.change_post %}
<div class="controls">
    <a href="{{ SITE_ROOT }}post/edit/NEW-POST">add new post</a>
</div>
{% endif %}
{% endblock %}